*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(255, 255, 255);
max-width: 1300px;
position: relative;
}
html{
  display: flex;
  justify-content: center;
}
header {
  color: red;
  width:  100%;
  height: 25%;
  background-color: silver;
  padding: 0 25%;
}
 img {
  width: 110px;
  height: 110px;
}
 header div {
  width: 100%; 
  display:flex;
  flex-wrap:wrap;
  margin-left: 10%;

}
section {
  margin-bottom: 40px;
}
/*Contact*/
#contact .contacts dl {
  display: flex;
  background-color: #000;
}

#contact .contacts dl dt {
  width: 120px;
  background-color: red;
  color: #fff;
  padding-left: 5px;
  padding-bottom: 5px;
}

#contact .contacts a {
  color: red;
  text-decoration: none;
  margin-left: 5px;
}

#contact {
  position: absolute;
  top: 15px;
  right: -283px;
  width: 546px;
  left: 753px;
}

#contact h3 {
  display: none;
}

/*Content*/
.content {
  display: flex;
  margin: 0 25%;
  margin-top: 60px;
  flex-wrap: wrap;
}

section:not(:last-child) h3 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.content section:not(:last-child) {
  flex-basis: 50%;
}

section:not(:last-child) h3::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: 0;
  background-color: red;
  border-radius: 50%;
}

section:not(:last-child) p {
  padding-right: 10px;
}

/*About */
.content section:first-child p {
    padding-top: 15px;
  }
  
  /*Experience*/
  .experience  h4 {
    color: red;
    margin-top: 20px;
  }
  
  .experience h4 span:last-child {
    font-weight: 100;
    position: relative;
  }
  
  .experience h4 span:last-child::before {
    content: "@";
    top: 0;
    left: 0;
    margin-right: 5px;
  }
  
  .experience .experience-details {
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 15px;
    position: relative;
  }
  
  .experience .experience-details span {
    color: rgba(122, 121, 121, 0.962);
  }
  
  .experience .experience-details::before {
    content: "In ";
    color: rgba(122, 121, 121, 0.962);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .experience .experience-date span:nth-child(even) {
    color: red;
  }
  
  .experience .experience-description {
    margin-top: 10px;
  }

/*Competencies*/
#competencies .skill {
  background-color: #cccccc;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;
  width: 100%;
 
}

#competencies .skills-primary::before {
  content: "Main";
  position: absolute;
  font-size: 18px;
  top: -20px;
  left: 0;
  
}

#competencies .skill span {
 
  display: block;
  padding: 6px;
  color: rgb(255, 254, 254);
}


#competencies .skills-primary {
  margin-top: 35px;

}

#competencies .skills-primary .skill span {
  background-color: red;

}

#competencies .skills-secondary {
  margin-top: 30px;
  opacity: .7;
}

#competencies .skills-secondary .skill span {
  background-color: rgb(192, 63, 63);
}


#competencies .skills-secondary::before {
  content: "Other";
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 18px;
}

/* .skill [data-skill='9']{

  width: 90%;
} */

/*knowledge*/
#competencies .skills-primary .skill:first-child span {
  /* width: calc([data-skill]*10)%; */
  width: 70%;
}

#competencies .skills-primary .skill:nth-child(2) span {
  width: 45%;
}

#competencies .skills-primary .skill:last-child span {
  width: 40%;
}

 #competencies .skills-secondary .skill:first-child span {
  width: 5%;
} 

#competencies .skills-secondary .skill:nth-child(2) span {
  width: 80%;
}

#competencies .skills-secondary .skill:last-child span {
  width: 10%;
}

/*Hobbies*/

#hobbies h3 {
  top: 38px;
}

#hobbies ul {
  
  margin-left: 35px;
  margin-top: 45px;
}

/*MEDIA*/
@media (max-width: 1200px) {
  
  .content section {
    flex-basis: 100% !important;
  }

  section:last-child h3::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    background-color: red;
    border-radius: 50%;
  }

  section:last-child h3 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    position: relative;
    padding-left: 25px;
  }

  #contact {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
    left: -5px;
  }

  .contacts {
    margin-top: 10px;
  }

  #contact h3 {
    display: block;
  }

  #contact .contacts dl {
    background-color: #fff;
  }

  #contact .contacts dl dt {
    width: 120px;
    background-color: red;
  }
}

@media (max-width: 768px) {

  header {
    padding: 20px 0;
  }

  header div {
    flex-direction: column;
  }

  header div figure {
    margin-left: 10px;
  }

  .content {
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}